// colors
:root {
  --color-primary: #202020;
  --color-primary-complement: #dfdfdf;
  --color-secondary: #3f3f3f;
  --color-secondary-complement: #c0c0c0;
  --color-tertiary: #707070;
  --color-tertiary-complement: #8f8f8f;
  --color-highlight: #ffdf6c;
  --color-highlight-complement: #002093;
  --color-white: #fff;
  --color-black: #000;
  --color-link: #932432;
  --color-link-hover: #de354c;

  --max-content-width: 1440px;
}

