{#
  image-slider uses swiper.js to create a slider with images
  source: https://swiperjs.com/get-started
#}

{% from "../partials/ctas.njk" import ctas %}
{% from "../partials/responsive-image.njk" import responsiveImage %}
{% from "../partials/text.njk" import text %}
{% from "../partials/scroll-to.njk" import scrollTo %}

{% macro imageSlider(info, site) %}
  
  <div class="slides-container">
    <ul class="slides">
    {% for slide in info.slides %}
      <li 
        id="slide{{ loop.index}}"
        class="slide js-slide {%  if loop.last %}initial{% endif %}"
      >
        {# site is in scope, was passed via the component macro #}
        {{ responsiveImage(slide.image, site) }}
        <div class="slide-content">
          {{ text(slide.text) }}
          {{ ctas(slide.ctas) }}
          {{ scrollTo(info.scrollTarget) }}
        </div>
      </li>  
    {% endfor %}
    </ul> <!-- .slides -->

    <ul class="slides-nav">
      {% for slide in info.slides %}
      <li 
        class="js-slide-trigger {%  if loop.first %}active{% endif %}"" data-slide-id="#slide{{ loop.length - loop.index0}}"
      ></li>
      {% endfor %}
    </ul> <!-- .slides-nav -->
 
  </div> <!-- .slides-container -->  
  
{% endmacro %}