.block-wrapper {
  // background images are attached to the block-wrapper via style attribute and are defined in frontmatter
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  // classes that are attached to the block-wrapper via frontmatter fields
  &.inContainer {
    max-width: var(--max-content-width);
    margin: 0 auto;

    @media (max-width: 1520px) {
      max-width: 100%;
      padding: 0 40px;
    }
    @media (max-width: 500px) {
      padding: 0 20px;
    }
  }
  &.paddingTop {
    padding-top: 40px;
  }
  &.paddingBottom {
    padding-bottom: 40px;
  }
  &.marginTop {
    margin-top: 60px;
  }
  &.marginBottom {
    margin-bottom: 60px;
  }

  &.isDark * {
    color: #fff;
  }

  .columns {
    display: flex;
  }
  .column {
    flex: 1 1 100%;
    max-width: 100%;
  }

  &.banner {
    height: 100vh;
  }
}